/* 调试信息 */
.tb-debug {
    width: 90%;
    margin: 10px auto;
}
.tb-debug table {
    border-top: 1px solid #9c27b0;
    border-right: 1px solid #9c27b0;
    margin: 10px 0;
}
.tb-debug table td {
    border-left: 1px solid #9c27b0;
    border-bottom: 1px solid #9c27b0;
    padding: 5px 12px;
    text-align: center;
}
.tb-debug table th {
    border-left: 1px solid #9c27b0;
    border-bottom: 1px solid #9c27b0;
    padding: 10px;
    
}
.tb-debug table td.mt {
    text-align: left;
}
